.quote {
    margin: 0 auto;
    text-align: center;

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr auto;
    justify-content: center;
    grid-column-gap: 3px;
    grid-row-gap: 10px;

    font-family: 'Baskervville', serif;

    &__text {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 5px;
        font-style: italic;
    }

    &__by {
        //font-style: normal;
        grid-column: span 3;
    }

    &__svg {
        font-size: 1.5rem;
    }

    &__svg--left {
        align-self: flex-start;
    }

    &__svg--right {
        align-self: flex-end;
    }
}