.mt-30 {
    margin-top: 30px !important;
}
  
.mt-10 {
    margin-top: 10px !important;
}
  
.mt-0 {
    margin-top: 0 !important;
}
  
.mb-30 {
    margin-bottom: 30px !important;
}
  
.mb-20 {
    margin-bottom: 20px !important;
}
  
.mb-10 {
    margin-bottom: 10px !important;
}
  
.mb-0 {
    margin-bottom: 0 !important;
}
  
.mb-5 {
    margin-bottom: 5px !important;
}
  
.not-italic {
    font-style: normal !important;
}
  
.capitalize {
    text-transform: capitalize !important;
}

.center-text {
    text-align: center !important;
}
  
.break-word {
    word-break: break-word !important;
}

.italic {
    font-style: italic !important;
}