@import 'bootstrap';
// Custom
@import 'config';
@import 'navbar';
@import 'footer';
@import 'loader';
@import 'quote';
@import 'forms';
@import 'buttons';
// Johan
@import 'johan';
// Pages
@import 'member-manager-page';

body {
  margin: 0;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;

  font-family: 'Libre Baskerville', serif;
}

#root {
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;
}

.page-container {
  min-height: calc(100vh - var(--footer-height));
  padding: 20px 10px;
  padding-top: calc(var(--navbar-height) + 20px);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background: transparent;
  // overflow-x: hidden;
  // overflow-y: scroll;
  overflow: hidden;

  &--multi-col {
    align-items: flex-start;
  }
}

.page-content {
  background-color: white;
  border-radius: $page-border-radius;
  height: max-content;
  min-width: 0;
  margin-bottom: 30px;

  @include min-width (800px) {
    margin: 0 30px 30px 30px;
  }
}

.page-header {
  background: $blue-gradient;
  padding: 20px 30px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: max-content;

  border-top-left-radius: $page-border-radius;
  border-top-right-radius: $page-border-radius;

  &__heading {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.page-footer {
  padding: 20px;

  background: $blue-gradient;
  border-bottom-left-radius: $page-border-radius;
  border-bottom-right-radius: $page-border-radius;
  color: white;
}

.page-split {
  @include min-width (768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, max-content );

    background: $blue-gradient;
  

    .form-container {
      grid-row: span 2;
      background: white;

      border-top-right-radius: $page-border-radius;
      border-bottom-right-radius: $page-border-radius;
    }

    .page-header,
    .page-footer {
      background: transparent;
      height: 100%;

      display: flex;
      min-width: 0;
    }

    .page-header {
      padding: 40px 30px 0 30px;
      align-items: flex-end;
      border-top-right-radius: 0;

      &__heading {
        font-size: 1.8rem;
      }
    }

    .page-footer {
      padding: 0 30px 40px 30px;
      align-items: flex-start;
      border-bottom-right-radius: 0;

      .quote {
        text-align: left;

        font-size: 1.1rem;
      }

      .quote__text {
        padding-bottom: 10px;

        &:before,
        &:after {
          font-weight: 900;
        }

        &:before {
          content: '" ';
        }

        &:after {
          content: '"';
        }
      }

      .quote__svg {
        display: none;
      }
    }
  }
}

hr {
  height: 1px;
  width: 100%;
  background-color: rgba(179, 179, 179, 0.7);
  border: none;
  margin: 10px auto;
}

.login-page {
  max-width: 350px;

  @include min-width (768px) {
    max-width: 700px;
  }
}

.demo-login {
  display: flex;
  flex-wrap: wrap;

  &__btn {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &__text {
    grid-column: span 2;
    width: 100%;
  }
}

.registration-page {
  max-width: 400px;

  @include min-width (768px) {
    max-width: 800px;
  }
}

.register-prompt {
  margin: 20px 0 5px 0;

  &__link {
    color: $primary-blue;

    &:hover {
      color: $primary-gold;
    }
  }
}

.add-wig-page {
  max-width: 480px;

  .form-container {
    padding-top: 20px;
  }
}

.add-lead-measure-page {
  max-width: 480px;

  .form-container {
    padding-top: 20px;
  }
}

.my-account-page {
  .form {
    width: 70vw;
    max-width: 300px;
  }
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.not-italic {
  font-style: normal !important;
}

.capitalize {
  text-transform: capitalize;
}

.lagTracker-page {
  --infoColumn-width: 300px;

  &__select {
    max-width: 250px;
    margin: 0 auto 30px auto;
  }

  &__infoColumn {
    
    width: 70vw;
    min-width: 0;
    max-width: var(--infoColumn-width) ;
  }
  & > section {
    @include min-width (700px) {
      margin: 0 30px;
    }
  }
}

.wig-session-page {
  max-width: 350px;

  .page-header {
    text-align: center;
  }

  @include min-width (850px) {
    max-width: 800px;
    min-width: 800px;

    display: grid;
    grid-template-columns: repeat(2, 1fr );
    align-items: flex-start;
    justify-content: center;

    .page-header,
    .page-footer,
    .date-slider {
      grid-column: span 2;
    }

    &__col-1 {
      max-width: 350px;
      justify-self: center;
    }

    &__col-2 {
      max-width: 400px;
      justify-self: left;
    }

    &__col-1, &__col-2 {
      //max-height: 400px;
      min-height: 400px;

      padding-top: 20px;
      overflow: scroll;
      align-content: flex-start;
    }
  }
}

.date-slider {
  padding: 10px;

  display: grid;
  grid-template-columns: auto 1fr auto;

  &__arrow {
    font-size: 3rem;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: $primary-blue;
    outline: none;
    border: 1px solid transparent;
    margin-top: 10px;

    &:hover {
      border: 1px solid white;
      color: $dark-blue;
    }

    &:active {
      border: 1px solid transparent;
      color: $primary-gold;
      outline: none;
      background: none;
    }
  }

  &__dates {
    padding: 10px;
    text-align: center;

    &--week,
    &--weekdays {
      margin: 0;
    }

    &--week {
      font-size: 1.1rem;
      font-weight: 700;
      color: $dark-blue;
      margin-bottom: 10px;
    }

    &--weekdays {
      font-size: 0.85rem;
      font-style: italic;
      color: $dark-blue;
    }
  }

  &__underline {
    border: 1px solid $primary-blue;
    width: 80%;
    grid-column: span 3;
  }
}

.commitment-list {
  margin-bottom: 20px;
}

.commitment-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  margin-bottom: 20px;

  &__text {
    grid-row: span 2;
    padding-left: 10px;
  }

  &__checkbox {
    margin: 0.35rem auto;
    height: 1.2rem;
    width: 1.2rem;
  }

  &__delete-btn {
    grid-row: 2;

    color: red;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px 6px;
    margin: 0 2px;
    border: 1px solid transparent;
    font-size: 1.1rem;

    &:active {
        background-color: red;
        color: white;
        outline: none;
    }

    &:hover {
      border: 1px solid red;
    }
  }
}